
body {
  margin: 0;
/*  background: $sidebar_color;*/
  
  .cpart {
    width: 900px;
    margin: 0 auto;
/*    padding: 0 2em;*/
  }
}

#top-wrapper {
  background: #191b1d url(/images/site_nav_bg.png) repeat-x left top;
  border-bottom: 1px solid #54595E;

  #top {
    @include clearfix;
  
    padding: 1em 0 .5em;
  
    #logo {
      float: left;
      width: 18em;
      margin-left: 1em;
    
      a {
        font-size: 2em;
        color: #ddd;
      }
    }
    nav#mainnav {
      ul {
        padding: 0;
        list-style-type: none;
      
        li {
        
          a {
            display: block;
            padding: 0em 2em;
            float: right;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#header-wrapper {
  background: transparent url(/images/page_bg.png) repeat-x left top;
  
  #header-cpart-wrapper {
    background: url(/images/site_glow.png) no-repeat center top;
/*    height: 345px;*/
    max-height: 345px;
    
    #header {
      @include clearfix;
    }
  }
}

#content-wrapper {
  @include clearfix;
  
  padding: 1.5em 0;
  background: url(/images/site_content_bg.png) repeat-x left top;
  
  #content {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
  
    #inner-main {
      float: left;
      width: 100%;
      right: 25%; // sidebar width
      position: relative;
      background: #fff url(/images/title-area-bg.gif) repeat-x left top;
      box-shadow: #999 2px 0px 8px;
  
      #maincol, #sidebar {
        float: left;
        position: relative;
        padding: 0 0 1em;
        overflow: hidden;
      }
  
      #maincol {
        width: 71%;
        left: 27%;
      
        .title-area {
          height: 105px;
        
          h1, h2 {
            margin: 0;
            padding: 40px 0 0;
            color: #333;
          }
        }
      
        #body {
          padding: 1.5em 0;
        }

      }
  
      #sidebar {
        width: 21%;
        left: 31%;
      }
  
    }
  }
}

