
$sidebar_color: #aaa;
$header-color1: #2f5bb7;
$link-color: #dd4b39 - #544;
$header-color2: $header-color1;
$content-color1: #415157;
$content-color2: $header-color1;
$header-background-color: #eeecec;
